name: autofix.ci
on: [push, pull_request]
jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '20'
          cache: 'npm'
      
      - name: Install npm dependencies and sync payload
        run: npm ci
      
      - name: Run cargo fmt
        run: cargo fmt
      
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
